<h1>Hi <%= name %></h1>
<form action="/farmer/logout" method="POST">
  <button type="submit">Log Out</button>
</form>

<form action="/farmer/delete" method="POST">
  <button type="submit">Delete</button>
</form>

<form action="/farmer/update" method="GET">
  <button type="submit">Edit</button>
</form>