<h1><%= product.productName %></h1>
<h2><%= product.description %></h2>

<h3>Current rating: <%= product.rating %></h3>
<h3>Cover Image: </h3>
<img src='/<%= product.thumbnailImgPath %>' alt="product_thumbnail">


<a href="/farmer">Return to Dashboard</a>