<h1>Register</h1>
<form action="/farmer/register" method="POST">
  <div>
    <label for="firstname">firstname</label>
    <input type="text" id="firstname" name="firstname" required>
  </div>
  <div>
    <label for="lastname">lastname</label>
    <input type="text" id="lastname" name="lastname" required>
  </div>
  <div>
    <label for="female">Female</label>
    <input type="radio" id="gender" name="gender" value="female">
    <label for="male">Male</label>
    <input type="radio" id="male" name="gender" value="male">
  </div>
  <div>
    <label for="dob">Date of birth</label>
    <input type="date" id="dob" name="dob" required>
  </div>
  <div>
    <label for="mobile">mobile</label>
    <input type="number" id="mobile" name="mobile" required>
  </div>
  <div>
    <label for="address">address</label>
    <input type="text" id="address" name="address" required>
  </div>
  <div>
    <label for="nid">nid</label>
    <input type="text" id="nid" name="nid" required>
  </div>
  <div>
    <label for="pfp">pfp</label>
    <input type="text" id="pfp" name="pfp" required>
  </div>
  <div>
    <label for="email">email</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Register</button>
</form>
<a href="/farmer/login">Login</a>