<h1>Add store</h1>
<form action="/farmer/store/add" method="POST">
  <div>
    <label for="store_name">store name</label>
    <input type="text" id="store_name" name="store_name" required>
  </div>
  <div>
    <label for="description">description</label>
    <textarea id="description" name="description"></textarea>
  </div>
  
  <div>
    <label for="gallery_imgs">gallery_imgs</label>
    <input type="text" id="gallery_imgs" name="gallery_imgs" required>
  </div>
  <div>
    <label for="cover_img">cover_img</label>
    <input type="text" id="cover_img" name="cover_img" required>
  </div>
  <button type="submit">Add</button>
</form>
<a href="/farmer">Cancel</a>