<h1>Edit Store</h1>
<form action="/farmer/store/<%= store.storeId %>/update" method="POST" enctype="multipart/form-data">
  <div>
    <label for="storeName">store name</label>
    <input type="text" id="storeName" name="storeName" value="<%=store.storeName %>" required>
  </div>

  <div>
    <label for="description">description</label>
    <textarea id="description" name="description" required><%=store.description %></textarea>
  </div>

  <div>
    <label for="gallery_imgs">gallery_imgs</label>
    <input type="file" id="gallery_imgs" name="gallery" multiple/>
  </div>
  <div>
    <label for="cover_img">cover_img</label>
    <input type="file" id="cover_img" name="cover" />
  </div>

  <button type="submit">Done</button>
</form>

<form action="/farmer/store/<%= store.storeId %>" method="GET">
    <button type="submit">Cancel</button>
</form>